
/public/hot
/public/storage
/public/vendor
/public/js
/public/css
/public/mix-manifest.json
/public/favicons
/public/images
/storage/*.key

*.sublime-workspace
*.sublime-project
*.code-workspace
.vscode


/vendor
/node_modules

.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
.env.production
.env.staging

npm-debug.log
yarn-error.log
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.php_cs.cache
.phpintel/
.sass-cache/
puphpet/config-custom.yaml
aliases
auth.json
database.sqlite

.DS_Store

.idea/*
!/.idea/fileTemplates
!/.idea/codeStyles
!/.idea/scopes
!.idea/deployment.xml
!.idea/webServers.xml
!.idea/sshConfigs.xml
!.idea/remote-mappings.xml

.docker/composer_cache/*
.docker/laravel-vapor/*
.vapor/
