---
ip: "192.168.10.10"
memory: 2048
cpus: 1
provider: virtualbox
name: homestead-abas-lastenheft
mariadb: true
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    - map: "."
      to: /home/vagrant/api
      type: "nfs"
      options:
        linux__nfs_options: ['async','rw','no_subtree_check','all_squash']
sites:
    - map: lastenheft.api
      to: /home/vagrant/api/public
      type: laravel
      php: "7.1"
databases:
    - homestead
    - homestead_test

