<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_DATABASE" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="HUBSPOT_ENABLED" value="false"/>
        <env name="HUBSPOT_PRIVATE_APP_ACCESS_TOKEN" value="no-api-key"/>
        <env name="PARDOT_ENABLED" value="false"/>
        <env name="SALESFORCE_ENABLED" value="false"/>
        <env name="SALESFORCE_BASEURL" value="https://salesforce.example.com/"/>
        <env name="SALESFORCE_CLIENT_ID" value="no-client-id"/>
        <env name="SALESFORCE_CLIENT_SECRET" value="no-client-secret"/>
    </php>
</phpunit>
