.button {
  display: inline-block;
  background: $accent;
  color: $accent-contrast;
  min-height: 65px;
  line-height: 65px;
  text-wrap: none;
  font-size: 24px;
  padding: 0 30px;
  &:hover, &:active, &:visited, &:focus {
    color: $accent-contrast;
  }
  @include scaleOnHover;
}

a.button {
  text-decoration: none;
  color: $accent-contrast;
  &:hover, &:active, &:visited, &:focus {
    color: $accent-contrast;
  }
}
