.content {
  .headline, .subline {
    margin: 0;
  }
  .subline {
    margin-bottom: 40px;
  }
  a {
    font-size: 24px;
  }
}
.container.imprint, .container.data-privacy {
  @extend %container-with-spacing
}
