.features {
  .headline, .subline, .copy {
    text-align: center;
    margin: 0;
  }
  .headline, .subline, .copy{
    margin-bottom: 40px;
  }
  .container {
    @extend %container-with-spacing;
    padding-top: 0;
  }
  $tiles-spacing: 26px;
  .tiles {
    @media screen and (min-width: 640px) {
      display: flex;
      flex-wrap: wrap;
    }
    .space-helper {
      width: $tiles-spacing;
      @media screen and (max-width: 640px) {
        width: 100%;
        height: $tiles-spacing;
      }
      @media screen and (min-width: 640px) and (max-width: 1024px) {
        &.vertical {
          width: 100%;
          height: $tiles-spacing;
        }
      }
    }
  }
  .tile {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 290px;
    text-align: center;
    color: $chapter-tiles-contrast;
    font-size: 18px;
    padding: 22px;
    @include coloredTiles();
    .icon {
      flex: 1;
      width: 65%;
      min-height: 50px;
    }
    .text {
      min-height: 63px;
      line-height: 30px;
      @media screen and (min-width: 640px) {
        min-height: 83px;
      }
      max-width: 100%;
      word-wrap: break-word;
    }

    + .tile {
      margin-top: $tiles-spacing;

      @media screen and (min-width: 640px) {
        margin-top: auto;
        margin-left: $tiles-spacing;
      }
    }
  }
}
