.hero {
  position: relative;
  width: 100%;
  height: 300px;
  height: 30vh;
  @media screen and (min-width: 1024px) {
    height: 580px;
    height: 58vh;
  }
  @media screen and (min-width: 1280px) {
    height: 681px;
    height: 60vh;
  }
  overflow: hidden;
  img {
    position: absolute;
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    z-index: $z-index-hero-background;
    @media screen and (min-width: 440px) {
      width: 100%;
      height: auto;
      left: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .headlines {
    z-index: $z-index-hero-content;
    width: 100%;
  }

  @mixin headline-box($font-size, $line-height: 1.3) {
    $padding-vertical: (2.5 - $line-height) * $font-size / 2;
    $padding-horizontal: 1.6 * $font-size / 2;

    padding: $padding-vertical $padding-horizontal;
    line-height: $line-height;
    font-size: $font-size;
  }

  .headline {
    background: $hero-headline;
    color: $hero-headline-contrast;
    display: inline-block;
    font-weight: 600;

    @include headline-box(24px);
    @media screen and (min-width: 1024px) {
      @include headline-box(30px);
    }
    @media screen and (min-width: 1280px) {
      @include headline-box(34px);
    }
    @include scaleOnHover;
  }
  .subline {
    background: $hero-subline;
    color: $hero-subline-contrast;
    display: inline-block;
    font-weight: 400;
    margin-top: 0;

    @include headline-box(20px);
    @media screen and (min-width: 1024px) {
      @include headline-box(26px);
    }
    @media screen and (min-width: 1280px) {
      @include headline-box(30px);
    }
    @include scaleOnHover;
  }
}
